<!-- views/index.erb -->
<html>
<head>
  <title>Recipe Ingredients Finder</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
      color: #333;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .item {
      width: 800px;
      background-color: #FFFFFF;
      margin-bottom: 25px;
      margin-top: 0px;
      padding: 0;
      -webkit-box-shadow: 0 2px 2px 0 rgba(144, 144, 144, 0.14), 0 3px 1px -2px transparent, 0 1px 5px 0 rgba(145, 145, 145, 0.12);
      box-shadow: 0 2px 2px 0 rgba(144, 144, 144, 0.14), 0 3px 1px -2px transparent, 0 1px 5px 0 rgba(145, 145, 145, 0.12);
      border-radius:  5px;
      font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #676a6c;
      font-size: 20px;
    }

    .header{
      padding: 20px 20px 15px 20px;
      display: flex;
      align-items: center;
    }

    .meal-name {
      flex-grow: 1;
    }

    .meal-name .name {
      cursor: pointer;
      border-bottom: 2px dashed #DDDDDD;
      vertical-align: text-bottom;
    }

    .actions {
      display: flex;
      margin-left: 10px;
      align-items: center;
      justify-items: center;
    }

    .action {
      margin-left: 16px;
    }

    .hour {
      cursor: pointer;
      border-bottom: 2px #1AB394 dashed;
      font-weight: 100;
      margin-left: 16px;
    }

    button.ai_meal {
      background-color: #fff;
      color: #676a6c;
      font-size: 16px;
      cursor: pointer;
      padding: 2px 4px;
      border: 1px solid #FFFFFF;
    }

    .ai_meal:hover {
      border: 1px solid #1ab394;
      background-color: #fff;
      border-radius: 3px;
      color: #1ab394;
    }

    .remove {
      display: flex;
      margin-left: 10px;
      align-items: center;
      justify-items: center;
    }

    button.remove_list {
      background-color: #fff;
      border: 1px solid #CC5965;
      color: #CC5965;
      font-size: 16px;
      cursor: pointer;
      padding: 2px 4px;
    }

    .remove_list:hover {
      background-color: #CC5965;
      color: #ffffff;
      border-radius: 3px;
    }

    .content {
      padding: 20px;
      padding-top: 0px;
    }

    .field-header {
      margin-top: 5px;
      margin-bottom: 10px;
      font-size: 0.9em;
      font-weight: 100;
    }

    .field {
      display: flex;
      align-items: center;
      justify-items: center;
      border-top: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      text-align: center;
      margin-top: 16px;
    }

    .field:first-child {
      margin-top: 0px;
    }

    .plus {
      min-width: 19px;
      padding: 10px;
      cursor: pointer;
      background-color: #FAFAFB;
      border-left: 1px solid #EEEEEE;
      color: #1ab394;
      font-size: 16px;
      height: 24px;
      font-size: 16px;
      font-weight: 100;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    .trash {
      min-width: 19px;
      padding: 10px;
      cursor: pointer;
      background-color: #FAFAFB;
      border-left: 1px solid #EEEEEE;
      color: #1ab394;
      height: 24px;
      font-size: 16px;
      font-weight: 100;
      display: flex;
      align-items: center;
      justify-items: center;
    }

    i {
      margin: auto;
    }

    .text {
      line-height: 24px;
      padding: 10px;
      cursor: pointer;
      border-left: 1px solid #EEEEEE;
      font-size: 15px;
      opacity: 0.5;
      flex-grow: 1;
      text-align: left;
    }

    .label {
      line-height: 24px;
      font-size: 15px;
      text-align: left;
    }

    input {
      border: 1px solid #676a6c;
      border-radius: 3px;
      line-height: 18px;
    }

    .ingredient {
      opacity: 1;
    }

    .macros {
      display: flex;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      padding: 20px;
    }

    .macro {
      display: flex;
      align-items: center;
      justify-items: center;
      text-align: center;
      flex-direction: column;
    }

    .macro-name {
      font-weight: 100;
      font-size: 16px;
    }

    .macro-name {
      font-size: 16px;
    }

    .form {
      display: flex;
      margin: auto;
      align-items: center;
      justify-items: center;
      flex-direction: column;
    }

    .error {
      color: #CC5965;
      font-size: 10px;
    }

    form {
      margin: 0 auto; 
    }

    button {
      background-color: #1AB394;
      border: none;
      color: white;
      border-radius: 3px;
      padding: 5px 10px;
      font-size: 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
    }

    button:hover {
      background-color: #18a689;
      color: white;
    }
  </style>
</head>
<body>

  <div class="item">

    <div class="header">
      <div class="meal-name"><span class="name">Lunch</span></div>

      <form action="/toggle_div" method="POST">
        <button class="ai_meal">
          AI Meal <i class="fa-solid fa-wand-magic-sparkles"></i>
        </button>
      </form>

      <div class="hour"><span>12:00</span></div>

      <div class="actions">
        <div class="action"><i class="fa-solid fa-upload"></i></div>
        <div class="action"><i class="fa-solid fa-ellipsis-vertical"></i></div>
      </div>
    </div>

    <div class="content">
      <% if show_input %>
        <div class="form">
          <form action="/ask" method="POST">
            <label class="label" for="recipe_name">Recipe Name:</label>
            <input type="text" name="recipe_name" id="recipe_name" required>
            <button type="submit">Get Ingredients</button>
          </form>

          <% if @error %>
            <p class="error"><%= @error %></p>
          <% end %>
        </div>
      <% end %>
      <div class="field-header">
        <div class="title">
          Dish
          <% if recipe_name %>
            - (<%= recipe_name %>)
          <% end %>
        </div>
      </div>
      <% if ingredients && ingredients.any? %>
        <% ingredients.each do |ingredient| %>
          <div class="field">
            <div class="plus"><i class="fa-solid fa-bars"></i></div>
            <div class="text ingredient"><%= ingredient[:quantity] %> of <%= ingredient[:name] %></div>
            <div class="trash"><i class="fa fa-trash"></i></div>
          </div>
        <% end %>
      <% else %>
        <div class="field">
          <div class="plus"><i class="fa-solid fa-add"></i></div>
          <div class="text">Add new food</div>
        </div>
      <% end %>
    </div>
    <div class="remove">
        <form action="/remove" method="POST">
          <button class="remove_list">
            Remove all foods <i class="fa-solid fa-trash"></i>
          </button>
        </form>
      </div>
    <div class="macros">
      <% if macros && macros.any? %>
        <% macros.each do |macro| %>
          <div class="macro">
            <div class="macro-name"><%= macro[:name] %></div>
            <div class="quantity"><%= macro[:quantity] %></div>
          </div>
        <% end %>
      <% else %>
        <div class="macro">
          <div class="macro-name">Energy</div>
          <div class="quantity">0 kcal</div>
        </div>
        <div class="macro">
          <div class="macro-name">Fat</div>
          <div class="quantity">0 g</div>
        </div>
        <div class="macro">
          <div class="macro-name">Carbohydrates</div>
          <div class="quantity">0 g</div>
        </div>
        <div class="macro">
          <div class="macro-name">Protein</div>
          <div class="quantity">0 g</div>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
